
.row{
  margin-bottom: 0px;
}

.shuffle{
  background: #0F2027;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  padding: 20px;
  overflow-y: scroll;
  height: 100vh;
}

.shuffle>div{
  padding: 20px;
}

div>img{
  margin-bottom: 10px;
  cursor: pointer;
}

img:hover{
  box-shadow: 0 0 11px rgba(33,33,33,.2);
  border: 10px solid white;
}

.ordered{
  background: #0F2027;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  overflow-y: scroll;
  height: 100vh;
}

.ordered>div{
  padding: 20px;
}

.infinity{
  display: flex;
  justify-content: center;
  align-items: center;
}

.infinity > span{
  padding: 0px 1rem 0px 1rem;
}

.space{
  color: #101D90;
  animation: glow 1s infinite alternate;
}

.mind{
  color:  #EDC005;
  animation: glow 1.5s infinite alternate;
}

.reality{
  color: #83000E;
  animation: glow 2s infinite alternate;
}

.power{
  color: #DD70FD;
  animation: glow 1s infinite alternate;
}

.time{
  color: #07A244;
  animation: glow 1.5s infinite alternate;
}

.soul{
  color: #CC5D18;
  animation: glow 2s infinite alternate;
}

@keyframes glow{
  0%{
    opacity: 0.5;
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 0.5;
  }
}